.mdc-snackbar {
    z-index: 8;
    margin: 8px;
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    box-sizing: border-box;
    pointer-events: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  
  .mdc-snackbar__surface {
    background-color: #333333; }
  
  .mdc-snackbar__label {
    color: rgba(255, 255, 255, 0.87); }
  
  .mdc-snackbar__surface {
    min-width: 344px; }
    @media (max-width: 480px), (max-width: 344px) {
      .mdc-snackbar__surface {
        min-width: 100%; } }
  
  .mdc-snackbar__surface {
    max-width: 672px; }
  
  .mdc-snackbar__surface {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12); }
  
  .mdc-snackbar__surface {
    border-radius: 4px; }
  
  .mdc-snackbar--opening,
  .mdc-snackbar--open,
  .mdc-snackbar--closing {
    display: -webkit-box;
    display: flex; }
  
  .mdc-snackbar--leading {
    -webkit-box-pack: start;
            justify-content: flex-start; }
  
  .mdc-snackbar--stacked .mdc-snackbar__surface {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: start;
            align-items: flex-start; }
  
  .mdc-snackbar--stacked .mdc-snackbar__actions {
    align-self: flex-end;
    margin-bottom: 8px; }
  
  .mdc-snackbar__surface {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: start;
            justify-content: flex-start;
    box-sizing: border-box;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0; }
    .mdc-snackbar--open .mdc-snackbar__surface {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transition: opacity 150ms 0ms cubic-bezier(0, 0, 0.2, 1), -webkit-transform 150ms 0ms cubic-bezier(0, 0, 0.2, 1);
      transition: opacity 150ms 0ms cubic-bezier(0, 0, 0.2, 1), -webkit-transform 150ms 0ms cubic-bezier(0, 0, 0.2, 1);
      transition: opacity 150ms 0ms cubic-bezier(0, 0, 0.2, 1), transform 150ms 0ms cubic-bezier(0, 0, 0.2, 1);
      transition: opacity 150ms 0ms cubic-bezier(0, 0, 0.2, 1), transform 150ms 0ms cubic-bezier(0, 0, 0.2, 1), -webkit-transform 150ms 0ms cubic-bezier(0, 0, 0.2, 1);
      opacity: 1;
      pointer-events: auto; }
    .mdc-snackbar--closing .mdc-snackbar__surface {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transition: opacity 75ms 0ms cubic-bezier(0.4, 0, 1, 1);
      transition: opacity 75ms 0ms cubic-bezier(0.4, 0, 1, 1); }
  
  .mdc-snackbar__label {
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.01786em;
    text-decoration: inherit;
    text-transform: inherit;
    -webkit-box-flex: 1;
            flex-grow: 1;
    box-sizing: border-box;
    margin: 0;
    padding: 14px 16px; }
  
  .mdc-snackbar__label::before {
    display: inline;
    content: attr(data-mdc-snackbar-label-text); }
  
  .mdc-snackbar__actions {
    /* @noflip */
    margin-left: 0;
    /* @noflip */
    margin-right: 8px;
    display: -webkit-box;
    display: flex;
    flex-shrink: 0;
    -webkit-box-align: center;
            align-items: center;
    box-sizing: border-box; }
    [dir="rtl"] .mdc-snackbar__actions, .mdc-snackbar__actions[dir="rtl"] {
      /* @noflip */
      margin-left: 8px;
      /* @noflip */
      margin-right: 0; }
  
  .mdc-snackbar__action:not(:disabled) {
    color: #bb86fc; }
  
  .mdc-snackbar__action::before, .mdc-snackbar__action::after {
    background-color: #bb86fc; }
  
  .mdc-snackbar__action:hover::before {
    opacity: 0.08; }
  
  .mdc-snackbar__action:not(.mdc-ripple-upgraded):focus::before, .mdc-snackbar__action.mdc-ripple-upgraded--background-focused::before {
    -webkit-transition-duration: 75ms;
            transition-duration: 75ms;
    opacity: 0.24; }
  
  .mdc-snackbar__action:not(.mdc-ripple-upgraded)::after {
    -webkit-transition: opacity 150ms linear;
    transition: opacity 150ms linear; }
  
  .mdc-snackbar__action:not(.mdc-ripple-upgraded):active::after {
    -webkit-transition-duration: 75ms;
            transition-duration: 75ms;
    opacity: 0.24; }
  
  .mdc-snackbar__action.mdc-ripple-upgraded {
    --mdc-ripple-fg-opacity: 0.24; }
  
  .mdc-snackbar__dismiss {
    color: rgba(255, 255, 255, 0.87); }
    .mdc-snackbar__dismiss::before, .mdc-snackbar__dismiss::after {
      background-color: rgba(255, 255, 255, 0.87); }
    .mdc-snackbar__dismiss:hover::before {
      opacity: 0.08; }
    .mdc-snackbar__dismiss:not(.mdc-ripple-upgraded):focus::before, .mdc-snackbar__dismiss.mdc-ripple-upgraded--background-focused::before {
      -webkit-transition-duration: 75ms;
              transition-duration: 75ms;
      opacity: 0.24; }
    .mdc-snackbar__dismiss:not(.mdc-ripple-upgraded)::after {
      -webkit-transition: opacity 150ms linear;
      transition: opacity 150ms linear; }
    .mdc-snackbar__dismiss:not(.mdc-ripple-upgraded):active::after {
      -webkit-transition-duration: 75ms;
              transition-duration: 75ms;
      opacity: 0.24; }
    .mdc-snackbar__dismiss.mdc-ripple-upgraded {
      --mdc-ripple-fg-opacity: 0.24; }
  
  .mdc-snackbar__dismiss.mdc-snackbar__dismiss {
    width: 36px;
    height: 36px;
    padding: 9px;
    font-size: 18px; }
    .mdc-snackbar__dismiss.mdc-snackbar__dismiss svg,
    .mdc-snackbar__dismiss.mdc-snackbar__dismiss img {
      width: 18px;
      height: 18px; }
  
  .mdc-snackbar__action + .mdc-snackbar__dismiss {
    /* @noflip */
    margin-left: 8px;
    /* @noflip */
    margin-right: 0; }
    [dir="rtl"] .mdc-snackbar__action + .mdc-snackbar__dismiss, .mdc-snackbar__action + .mdc-snackbar__dismiss[dir="rtl"] {
      /* @noflip */
      margin-left: 0;
      /* @noflip */
      margin-right: 8px; }
  
  
  /*# sourceMappingURL=snackbar.css.map*/
