$break-mobile-small: 320px;
$break-mobile-medium: 375px;
$break-mobile-large: 425px;

$break-tablet: 768px;
$break-laptop: 1024px;
$break-desktop: 1366px;
$break-desktop-medium: 1440px;
$break-desktop-large: 1600px;

$break-boot-sm: 540px;
$break-boot-sm-max: 576px;
$break-boot-md: 720px;
$break-boot-md-max: 768px;
$break-boot-lg: 960px;
$break-boot-lg-max: 992px;
$break-boot-xl: 1140px;
$break-boot-xl-max: 1200px;
$break-boot-xxl: 1600px;
$break-boot-xxl-max: 1600px;

:export {
    sm: $break-boot-sm;
    smMax: $break-boot-sm-max;
    md: $break-boot-md;
    mdMax: $break-boot-md-max;
    lg: $break-boot-lg;
    lgMax: $break-boot-lg-max;
    xl: $break-boot-xl;
    xlMax: $break-boot-xl-max;
    xxl: $break-boot-xxl;
    xxlMax: $break-boot-xxl;
}
