@import './tools/normalize';
@import './tools/typography';

$colorLink: #0d77cc;
$colorLinkHover: #de3502;

* {
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    box-sizing: border-box
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $colorLink;

    &:hover, &:focus {
        color: $colorLinkHover;
    }
}

.text-center {
    text-align: center;
}

h1, h2, h3 {
    font-weight: normal;
}

